@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-surface-ground: var(--surface-ground);
  --color-surface-section: var(--surface-section);
  --color-surface-card: var(--surface-card);
  --color-surface-overlay: var(--surface-overlay);
  --color-surface-border: var(--surface-border);
  --color-surface-hover: var(--surface-hover);
  --color-primary: var(--primary-color);
  --color-text-color: var(--text-color);
  --color-text-color-secondary: var(--text-color-secondary);
}

html {
  font-size: 13px;
}


